/*colors*/
/* line 31, ../sass/_variables.scss */
#isPhone, #isTablet, #isDesktop {
  display: none;
  pointer-events: none;
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
}

/* line 41, ../sass/_variables.scss */
.hide-for-mobile-only {
  display: block;
}

/* line 45, ../sass/_variables.scss */
.show-for-mobile-only {
  display: none;
}

@media (max-width: 768px) {
  /* line 51, ../sass/_variables.scss */
  #isPhone {
    display: block;
  }

  /* line 55, ../sass/_variables.scss */
  #isTablet, #isDesktop {
    display: none;
  }

  /* line 59, ../sass/_variables.scss */
  .hide-for-mobile-only {
    display: none;
  }

  /* line 62, ../sass/_variables.scss */
  .show-for-mobile-only {
    display: block;
  }
}
@media (max-width: 960px) {
  /* line 68, ../sass/_variables.scss */
  #isTablet {
    display: block;
  }

  /* line 72, ../sass/_variables.scss */
  #isPhone, #isDesktop {
    display: none;
  }
}
/* Text styles */
/* line 3, ../sass/_typography.scss */
h1 {
  font-family: Lato;
  font-size: 36px;
  text-align: left;
  color: #000000;
  font-weight: 400;
}

/* line 11, ../sass/_typography.scss */
h2 {
  font-family: Lato;
  font-size: 25px;
  line-height: 1.36;
  text-align: left;
  color: #000000;
  font-weight: 400;
}

/* line 20, ../sass/_typography.scss */
.placeholder {
  font-family: Lato;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.56;
  text-align: left;
  color: #db2b27;
  color: #db2b27;
}

/* line 30, ../sass/_typography.scss */
.button-text {
  font-family: Lato;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.28;
  text-align: center;
  color: #ffffff;
}

/* line 39, ../sass/_typography.scss */
.chart-title {
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: #000000;
  margin-top: 48px;
}

/* line 48, ../sass/_typography.scss */
.tagline {
  font-family: Lato;
  font-size: 18px;
  font-style: italic;
  line-height: 1.31;
  text-align: left;
  color: #000000;
}

/* line 58, ../sass/_typography.scss */
p {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
  color: #000000;
}

/* line 66, ../sass/_typography.scss */
link {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
  color: #0096d2;
  color: #0096d2;
}

/* line 75, ../sass/_typography.scss */
.title-mobile {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  color: #000000;
}

/* line 84, ../sass/_typography.scss */
h3 {
  font-family: Lato;
  font-size: 15px;
  text-align: left;
  color: #0096d2;
  color: #0096d2;
}

/* line 92, ../sass/_typography.scss */
.subtitle {
  font-family: Lato;
  font-size: 14px;
  text-align: left;
  color: #000000;
}

/* line 99, ../sass/_typography.scss */
.data-labels {
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

/* line 107, ../sass/_typography.scss */
.x-and-y-axis-titles {
  font-family: Lato;
  font-size: 12px;
  font-style: italic;
  text-align: left;
  color: #000000;
}

/* line 115, ../sass/_typography.scss */
.p-small {
  font-family: Lato;
  font-size: 12px;
  line-height: 1.67;
  text-align: left;
  color: #000000;
}

/* line 123, ../sass/_typography.scss */
.key-labels {
  font-family: Lato;
  font-size: 12px;
  text-align: left;
  color: #000000;
}

/* line 130, ../sass/_typography.scss */
.x-and-y-axis-labels {
  font-family: Lato;
  font-size: 12px;
  text-align: left;
  color: #000000;
}

/* line 137, ../sass/_typography.scss */
.data-point-label {
  font-family: Lato;
  font-size: 11px;
  text-align: left;
  color: #000000;
}

/* line 144, ../sass/_typography.scss */
.source-and-notes {
  font-family: Lato;
  font-size: 11px;
  text-align: left;
  color: #000000;
}

@media (max-width: 960px) {
  /* line 158, ../sass/_typography.scss */
  p {
    font-size: 16px;
    line-height: 1.5;
  }

  /* line 162, ../sass/_typography.scss */
  h1 {
    font-size: 24px;
  }

  /* line 166, ../sass/_typography.scss */
  h2 {
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 20px;
  }

  /* line 172, ../sass/_typography.scss */
  .tagline {
    font-size: 16px;
    line-height: 1.31;
  }
}
/* line 4, ../sass/bar.scss */
html, body {
  padding: 0px;
  margin: 0px;
}

/* line 9, ../sass/bar.scss */
.domain {
  stroke: #e6e5e5;
}

/* line 13, ../sass/bar.scss */
.tick line {
  display: none;
}

/* line 17, ../sass/bar.scss */
.tick text {
  font-family: Lato;
  font-size: 12px;
}

/* line 22, ../sass/bar.scss */
.afterText {
  font-family: Lato;
  font-size: 12px;
}

/* line 27, ../sass/bar.scss */
.povLabel {
  font-family: Lato;
  font-size: 11px;
}

/* line 33, ../sass/bar.scss */
.label {
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  text-anchor: end;
}

/* line 40, ../sass/bar.scss */
.Biglabel {
  font-family: Lato;
  font-size: 15px;
  fill: #0096d2;
  text-anchor: end;
}

/* line 47, ../sass/bar.scss */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
