/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*colors*/
/* line 31, ../sass/_variables.scss */
#isPhone, #isTablet, #isDesktop {
  display: none;
  pointer-events: none;
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
}

/* line 41, ../sass/_variables.scss */
.hide-for-mobile-only {
  display: block;
}

/* line 45, ../sass/_variables.scss */
.show-for-mobile-only {
  display: none;
}

@media (max-width: 768px) {
  /* line 51, ../sass/_variables.scss */
  #isPhone {
    display: block;
  }

  /* line 55, ../sass/_variables.scss */
  #isTablet, #isDesktop {
    display: none;
  }

  /* line 59, ../sass/_variables.scss */
  .hide-for-mobile-only {
    display: none;
  }

  /* line 62, ../sass/_variables.scss */
  .show-for-mobile-only {
    display: block;
  }
}
@media (max-width: 960px) {
  /* line 68, ../sass/_variables.scss */
  #isTablet {
    display: block;
  }

  /* line 72, ../sass/_variables.scss */
  #isPhone, #isDesktop {
    display: none;
  }
}
/* Text styles */
/* line 3, ../sass/_typography.scss */
h1 {
  font-family: Lato;
  font-size: 36px;
  text-align: left;
  color: #000000;
  font-weight: 400;
}

/* line 11, ../sass/_typography.scss */
h2 {
  font-family: Lato;
  font-size: 25px;
  line-height: 1.36;
  text-align: left;
  color: #000000;
  font-weight: 400;
}

/* line 20, ../sass/_typography.scss */
.placeholder {
  font-family: Lato;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.56;
  text-align: left;
  color: #db2b27;
  color: #db2b27;
}

/* line 30, ../sass/_typography.scss */
.button-text {
  font-family: Lato;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.28;
  text-align: center;
  color: #ffffff;
}

/* line 39, ../sass/_typography.scss */
.chart-title {
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: #000000;
  margin-top: 48px;
}

/* line 48, ../sass/_typography.scss */
.tagline {
  font-family: Lato;
  font-size: 18px;
  font-style: italic;
  line-height: 1.31;
  text-align: left;
  color: #000000;
}

/* line 58, ../sass/_typography.scss */
p {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
  color: #000000;
}

/* line 66, ../sass/_typography.scss */
link {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
  color: #0096d2;
  color: #0096d2;
}

/* line 75, ../sass/_typography.scss */
.title-mobile {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  color: #000000;
}

/* line 84, ../sass/_typography.scss */
h3 {
  font-family: Lato;
  font-size: 15px;
  text-align: left;
  color: #0096d2;
  color: #0096d2;
}

/* line 92, ../sass/_typography.scss */
.subtitle {
  font-family: Lato;
  font-size: 14px;
  text-align: left;
  color: #000000;
}

/* line 99, ../sass/_typography.scss */
.data-labels {
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

/* line 107, ../sass/_typography.scss */
.x-and-y-axis-titles {
  font-family: Lato;
  font-size: 12px;
  font-style: italic;
  text-align: left;
  color: #000000;
}

/* line 115, ../sass/_typography.scss */
.p-small {
  font-family: Lato;
  font-size: 12px;
  line-height: 1.67;
  text-align: left;
  color: #000000;
}

/* line 123, ../sass/_typography.scss */
.key-labels {
  font-family: Lato;
  font-size: 12px;
  text-align: left;
  color: #000000;
}

/* line 130, ../sass/_typography.scss */
.x-and-y-axis-labels {
  font-family: Lato;
  font-size: 12px;
  text-align: left;
  color: #000000;
}

/* line 137, ../sass/_typography.scss */
.data-point-label {
  font-family: Lato;
  font-size: 11px;
  text-align: left;
  color: #000000;
}

/* line 144, ../sass/_typography.scss */
.source-and-notes {
  font-family: Lato;
  font-size: 11px;
  text-align: left;
  color: #000000;
}

@media (max-width: 960px) {
  /* line 158, ../sass/_typography.scss */
  p {
    font-size: 16px;
    line-height: 1.5;
  }

  /* line 162, ../sass/_typography.scss */
  h1 {
    font-size: 24px;
  }

  /* line 166, ../sass/_typography.scss */
  h2 {
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 20px;
  }

  /* line 172, ../sass/_typography.scss */
  .tagline {
    font-size: 16px;
    line-height: 1.31;
  }

  /* line 177, ../sass/_typography.scss */
  .chart-title {
    padding-top: 32px;
  }
}
/*
body {
  font: 100% $font-stack;
  color: $primary-color;
}
*/
/* line 19, ../sass/main.scss */
.headerimage img {
  width: 100%;
  margin: 0 auto;
}

/* line 25, ../sass/main.scss */
#main-content-text {
  padding-top: 72px;
}

/* line 29, ../sass/main.scss */
.india {
  background-color: #0096d2;
  padding: 5px;
  border-radius: 4px;
}

/* line 35, ../sass/main.scss */
.sky {
  background-color: #fdbf11;
  padding: 5px;
  border-radius: 4px;
}

/* line 41, ../sass/main.scss */
.big-button {
  background-color: #0096d2;
  width: 280px;
  margin: 0 auto;
  height: 83px;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  padding-top: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* line 56, ../sass/main.scss */
.big-button:hover {
  background-color: #73bfe2;
}

/* line 60, ../sass/main.scss */
.content {
  padding-left: 125px;
  padding-right: 125px;
  clear: both;
}
/* line 65, ../sass/main.scss */
.content .inset-image {
  float: right;
  margin-right: -125px;
  padding-left: 10px;
  padding-top: 25px;
  padding-bottom: 10px;
  max-width: 500px;
}
/* line 73, ../sass/main.scss */
.content .inset-image img {
  width: 100%;
}
/* line 77, ../sass/main.scss */
.content .inset-image p {
  font-size: 11px;
  line-height: 1.27;
}
/* line 83, ../sass/main.scss */
.content .follow-dot {
  position: fixed;
  left: calc(50% - 550px + 125px - 40px);
  top: 200px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  z-index: -1;
  opacity: 0;
}
/* line 94, ../sass/main.scss */
.content .active {
  opacity: 1;
}
/* line 99, ../sass/main.scss */
.content .follow-dot.india {
  background-color: #0096d2;
}

/* line 104, ../sass/main.scss */
.chart-feature {
  width: 100%;
  display: table;
  margin: 0 auto;
  padding-bottom: 16px;
}
/* line 110, ../sass/main.scss */
.chart-feature .full-feature-dist {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

/* line 117, ../sass/main.scss */
.full-feature {
  width: 100%;
  max-width: 1440px;
  display: table;
  margin: 0 auto;
  padding-bottom: 36px;
}
/* line 124, ../sass/main.scss */
.full-feature .full-feature-map {
  width: 60%;
  display: table-cell;
}
/* line 130, ../sass/main.scss */
.full-feature .full-feature-map img {
  width: 100%;
}
/* line 135, ../sass/main.scss */
.full-feature .full-feature-right-chart, .full-feature .full-feature-text {
  padding-left: 20px;
  display: table-cell;
  vertical-align: middle;
}
/* line 143, ../sass/main.scss */
.full-feature .full-feature-text {
  padding-right: 20px;
}
/* line 147, ../sass/main.scss */
.full-feature .full-feature-right-chart {
  padding-left: 0px;
}

/* line 153, ../sass/main.scss */
.headerimage p {
  font-size: 11px;
  line-height: 1.27;
}

@media (max-width: 1100px) {
  /* line 159, ../sass/main.scss */
  .content .follow-dot {
    left: 80px;
  }
}
@media (max-width: 960px) {
  /* line 166, ../sass/main.scss */
  #main-content-text {
    padding-top: 32px;
  }

  /* line 170, ../sass/main.scss */
  .content {
    padding-left: 48px;
    padding-right: 48px;
  }
  /* line 174, ../sass/main.scss */
  .content .inset-image {
    margin-right: 0px;
    max-width: 300px;
    padding-left: 0px;
    padding-top: 10px;
  }
  /* line 180, ../sass/main.scss */
  .content .follow-dot {
    left: 5px;
  }
}
@media (max-width: 768px) {
  /* line 189, ../sass/main.scss */
  .content {
    padding-left: 20px;
    padding-right: 20px;
  }
  /* line 193, ../sass/main.scss */
  .content .inset-image {
    width: 100%;
    max-width: none;
  }
  /* line 197, ../sass/main.scss */
  .content .follow-dot {
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
  }

  /* line 205, ../sass/main.scss */
  .full-feature, .chart-feature {
    padding-bottom: 14px;
  }

  /* line 209, ../sass/main.scss */
  .full-feature {
    display: block;
  }
  /* line 212, ../sass/main.scss */
  .full-feature .full-feature-map {
    width: 100%;
    display: block;
  }
  /* line 218, ../sass/main.scss */
  .full-feature .full-feature-right-chart, .full-feature .full-feature-text {
    width: 100%;
    display: block;
    vertical-align: none;
    padding-left: 20px;
    padding-right: 20px;
  }
  /* line 226, ../sass/main.scss */
  .full-feature .full-feature-right-chart {
    padding-left: 0px;
    padding-right: 0px;
  }
}
