/*colors*/
/* line 31, ../sass/_variables.scss */
#isPhone, #isTablet, #isDesktop {
  display: none;
  pointer-events: none;
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
}

/* line 41, ../sass/_variables.scss */
.hide-for-mobile-only {
  display: block;
}

/* line 45, ../sass/_variables.scss */
.show-for-mobile-only {
  display: none;
}

@media (max-width: 768px) {
  /* line 51, ../sass/_variables.scss */
  #isPhone {
    display: block;
  }

  /* line 55, ../sass/_variables.scss */
  #isTablet, #isDesktop {
    display: none;
  }

  /* line 59, ../sass/_variables.scss */
  .hide-for-mobile-only {
    display: none;
  }

  /* line 62, ../sass/_variables.scss */
  .show-for-mobile-only {
    display: block;
  }
}
@media (max-width: 960px) {
  /* line 68, ../sass/_variables.scss */
  #isTablet {
    display: block;
  }

  /* line 72, ../sass/_variables.scss */
  #isPhone, #isDesktop {
    display: none;
  }
}
/* Text styles */
/* line 3, ../sass/_typography.scss */
h1 {
  font-family: Lato;
  font-size: 36px;
  text-align: left;
  color: #000000;
  font-weight: 400;
}

/* line 11, ../sass/_typography.scss */
h2 {
  font-family: Lato;
  font-size: 25px;
  line-height: 1.36;
  text-align: left;
  color: #000000;
  font-weight: 400;
}

/* line 20, ../sass/_typography.scss */
.placeholder {
  font-family: Lato;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.56;
  text-align: left;
  color: #db2b27;
  color: #db2b27;
}

/* line 30, ../sass/_typography.scss */
.button-text {
  font-family: Lato;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.28;
  text-align: center;
  color: #ffffff;
}

/* line 39, ../sass/_typography.scss */
.chart-title {
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

/* line 47, ../sass/_typography.scss */
.tagline {
  font-family: Lato;
  font-size: 18px;
  font-style: italic;
  line-height: 1.31;
  text-align: left;
  color: #000000;
}

/* line 57, ../sass/_typography.scss */
p {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
  color: #000000;
}

/* line 65, ../sass/_typography.scss */
link {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
  color: #0096d2;
  color: #0096d2;
}

/* line 74, ../sass/_typography.scss */
.title-mobile {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  color: #000000;
}

/* line 83, ../sass/_typography.scss */
h3 {
  font-family: Lato;
  font-size: 15px;
  text-align: left;
  color: #0096d2;
  color: #0096d2;
}

/* line 91, ../sass/_typography.scss */
.subtitle {
  font-family: Lato;
  font-size: 14px;
  text-align: left;
  color: #000000;
}

/* line 98, ../sass/_typography.scss */
.data-labels {
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

/* line 106, ../sass/_typography.scss */
.x-and-y-axis-titles {
  font-family: Lato;
  font-size: 12px;
  font-style: italic;
  text-align: left;
  color: #000000;
}

/* line 114, ../sass/_typography.scss */
.p-small {
  font-family: Lato;
  font-size: 12px;
  line-height: 1.67;
  text-align: left;
  color: #000000;
}

/* line 122, ../sass/_typography.scss */
.key-labels {
  font-family: Lato;
  font-size: 12px;
  text-align: left;
  color: #000000;
}

/* line 129, ../sass/_typography.scss */
.x-and-y-axis-labels {
  font-family: Lato;
  font-size: 12px;
  text-align: left;
  color: #000000;
}

/* line 136, ../sass/_typography.scss */
.data-point-label {
  font-family: Lato;
  font-size: 11px;
  text-align: left;
  color: #000000;
}

/* line 143, ../sass/_typography.scss */
.source-and-notes {
  font-family: Lato;
  font-size: 11px;
  text-align: left;
  color: #000000;
}

@media (max-width: 960px) {
  /* line 157, ../sass/_typography.scss */
  p {
    font-size: 16px;
    line-height: 1.5;
  }

  /* line 161, ../sass/_typography.scss */
  h1 {
    font-size: 24px;
  }

  /* line 165, ../sass/_typography.scss */
  h2 {
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 20px;
  }

  /* line 171, ../sass/_typography.scss */
  .tagline {
    font-size: 16px;
    line-height: 1.31;
  }
}
/* line 4, ../sass/maps.scss */
html, body {
  padding: 0px;
  margin: 0px;
}

/* line 11, ../sass/maps.scss */
#map {
  position: relative;
  width: 100%;
  height: 632px;
}

/* line 19, ../sass/maps.scss */
#chart {
  position: relative;
  width: 100%;
  height: 632px;
  background-color: pink;
}

/* line 27, ../sass/maps.scss */
svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 32, ../sass/maps.scss */
.hidden {
  display: none;
}

/* line 35, ../sass/maps.scss */
.ward {
  fill: none;
  stroke-width: 2px;
}

/* line 40, ../sass/maps.scss */
.ward.w1 {
  stroke: #fdbf11;
}

/* line 44, ../sass/maps.scss */
.ward.w7 {
  stroke: #0096d2;
}

/* line 48, ../sass/maps.scss */
.ward.wardmap {
  stroke: #fff !important;
  fill-opacity: 0.75;
  cursor: pointer;
}

/* line 54, ../sass/maps.scss */
.ward.wardmap.active {
  fill-opacity: 0.9;
}

/* line 58, ../sass/maps.scss */
.ward.distro.w1, .ward.wardmap.w1 {
  fill: #fdbf11;
}

/* line 59, ../sass/maps.scss */
.ward.distro.w2, .ward.wardmap.w2 {
  fill: #12719e;
}

/* line 60, ../sass/maps.scss */
.ward.distro.w3, .ward.wardmap.w3 {
  fill: #78c26d;
}

/* line 61, ../sass/maps.scss */
.ward.distro.w4, .ward.wardmap.w4 {
  fill: #848081;
}

/* line 62, ../sass/maps.scss */
.ward.distro.w5, .ward.wardmap.w5 {
  fill: #ca5800;
}

/* line 63, ../sass/maps.scss */
.ward.distro.w6, .ward.wardmap.w6 {
  fill: #e25552;
}

/* line 64, ../sass/maps.scss */
.ward.distro.w7, .ward.wardmap.w7 {
  fill: #0096d2;
}

/* line 65, ../sass/maps.scss */
.ward.distro.w8, .ward.wardmap.w8 {
  fill: #e88e2d;
}

/* line 68, ../sass/maps.scss */
div.tooltip h2 {
  font-size: 12px !important;
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  border-bottom: 1px solid #e6e5e5;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

/* line 78, ../sass/maps.scss */
div.tooltip p {
  font-size: 11px !important;
  margin: 0px;
  padding: 0px;
}

/* line 99, ../sass/maps.scss */
div.tooltip {
  position: fixed;
  padding: 11px;
  background: #fff;
  top: -1000px;
  left: -1000px;
  border: 1px solid #0096d2;
}

/* line 110, ../sass/maps.scss */
div.tooltip.top:after, div.tooltip.top:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 6px;
  margin-left: -6px;
}

/* line 125, ../sass/maps.scss */
div.tooltip.top:before {
  border-color: rgba(0, 150, 210, 0);
  border-top-color: #0096d2;
  border-width: 8px;
  margin-left: -8px;
}

/* line 132, ../sass/maps.scss */
.times-subset {
  width: 50%;
  float: left;
}

/* line 152, ../sass/maps.scss */
.indiapoint {
  fill: #0096d2;
}

/* line 156, ../sass/maps.scss */
.skylerpoint {
  fill: #fdbf11;
}

/* line 160, ../sass/maps.scss */
.dot.india {
  fill: #73bfe2;
}

/* line 164, ../sass/maps.scss */
.dot.skyler {
  fill: #e88e2d;
}

@media (max-width: 460.8px) {
  /* line 170, ../sass/maps.scss */
  #map {
    height: 300px;
  }
}
@media (max-width: 576px) {
  /* line 177, ../sass/maps.scss */
  #map {
    height: 374px;
  }
}
@media (max-width: 660px) {
  /* line 184, ../sass/maps.scss */
  #map {
    height: 474px;
  }
}
