/* Text styles */

h1 {
	font-family: Lato;
	font-size: 36px;
	text-align: left;
	color: #000000;
	font-weight: 400;
}

h2 {
	font-family: Lato;
	font-size: 25px;
	line-height: 1.36;
	text-align: left;
	color: #000000;
	font-weight: 400;
}

.placeholder {
	font-family: Lato;
	font-size: 18px;
	font-weight: 900;
	line-height: 1.56;
	text-align: left;
	color: #db2b27;
	color: $tomato;
}

.button-text {
	font-family: Lato;
	font-size: 18px;
	font-weight: 900;
	line-height: 1.28;
	text-align: center;
	color: #ffffff;
}

.chart-title {
	font-family: Lato;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	color: #000000;
	margin-top:48px;
}

.tagline {
	font-family: Lato;
	font-size: 18px;
	font-style: italic;
	line-height: 1.31;
	text-align: left;
	color: #000000;
	// font-weight: 300;
}

p {
	font-family: Lato;
	font-size: 18px;
	line-height: 1.56;
	text-align: left;
	color: #000000;
}

link {
	font-family: Lato;
	font-size: 18px;
	line-height: 1.56;
	text-align: left;
	color: #0096d2;
	color: $cerulean;
}

.title-mobile {
	font-family: Lato;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.25;
	text-align: left;
	color: #000000;
}

h3 {
	font-family: Lato;
	font-size: 15px;
	text-align: left;
	color: #0096d2;
	color: $cerulean;
}

.subtitle {
	font-family: Lato;
	font-size: 14px;
	text-align: left;
	color: #000000;
}

.data-labels {
	font-family: Lato;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	color: #000000;
}

.x-and-y-axis-titles {
	font-family: Lato;
	font-size: 12px;
	font-style: italic;
	text-align: left;
	color: #000000;
}

.p-small {
	font-family: Lato;
	font-size: 12px;
	line-height: 1.67;
	text-align: left;
	color: #000000;
}

.key-labels {
	font-family: Lato;
	font-size: 12px;
	text-align: left;
	color: #000000;
}

.x-and-y-axis-labels {
	font-family: Lato;
	font-size: 12px;
	text-align: left;
	color: #000000;
}

.data-point-label {
	font-family: Lato;
	font-size: 11px;
	text-align: left;
	color: #000000;
}

.source-and-notes {
	font-family: Lato;
	font-size: 11px;
	text-align: left;
	color: #000000;
}


// @media (max-width: $MaxDesktopSize){

// }

// Can edit these break points as time goes on. 
@media (max-width: $MaxTabletSize){
	p {
		font-size: 16px;
		line-height: 1.5;
	}
	h1 {		
		font-size: 24px;	
	}

	h2 {
		font-size: 20px;
		line-height: 1.3;
		margin-bottom: 20px;
	}
	
	.tagline {
		font-size: 16px;
		line-height: 1.31;
	}

	.chart-title {
		// padding-top: 32px;
	}
}
