/*colors*/
$cool-grey: #9d9fa2;
$orangey-yellow: #fdbf11;
$hot-pink: #ec008b;
$dirty-purple: #5c5859;
$mid-green: #55b748;
$tomato: #db2b27;
$black: #333333;
$white: #e6e5e5;
$soft-blue: #73bfe2;
$twilight-blue: #0a4c6a;
$light-teal: #a2d4ec;
$nice-blue: #12719e;
$soft-green: #78c26d;
$pale-magenta: #e46aa7;
$dark-orange: #ca5800;
$blush: #f1aaa9;
$purple-grey: #848081;
$cerulean: #0096d2;

#isPhone, #isTablet, #isDesktop {
  display: none;
  pointer-events: none;
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
}

// Can edit these as time goes on. 
@media (max-width: 768px){
  #isPhone {
    display: block;
  }

  #isTablet, #isDesktop {
    display: none;
  }
}

@media (max-width: 960px){
	#isTablet {
    display: block;
  }

  #isPhone, #isDesktop {
    display: none;
  }
}

@media (max-width: 1100px){

}

