@import "variables";
@import "typography";

html, body {
  // width: 100%;
  // height: 100%;  
  padding: 0px;
  margin: 0px;
  // padding-top:50%;
}
#map_container { 
  position:relative;   
  width: 100%;
  height: 632px;
  // background-color: pink;
}

#map { 
  top: 50px;
  position:absolute;   
  width: 100%;
  height: 100%;
  // background-color: pink;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.ward.distro.w1, .ward.wardmap.w1 {fill: $orangey-yellow}
.ward.distro.w2, .ward.wardmap.w2 {fill: $nice-blue}
.ward.distro.w3, .ward.wardmap.w3 {fill: $soft-green}
.ward.distro.w4, .ward.wardmap.w4 {fill: $purple-grey}
.ward.distro.w5, .ward.wardmap.w5 {fill: $dark-orange}
.ward.distro.w6, .ward.wardmap.w6 {fill: #e25552}
.ward.distro.w7, .ward.wardmap.w7 {fill: $cerulean}
.ward.distro.w8, .ward.wardmap.w8 {fill: #e88e2d}


.numYO {
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
}

.axis-label {
  font-family: Lato;
  font-size: 12px;
  text-anchor: middle;
}

.hoverbox {
  fill: #fff;
}

.hoverbox.active {
  fill: #a2d4ec;
}

div.meanTime, div.name { 
  position: fixed;       
  font-family: Lato;
}

div.meanTime p, div.name p {
  font-size: 12px;
  text-align: center;       
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  line-height: 80%;
}

div.name {
  width: 70px;
}

div.meanTime {
  width: 100px;
}

div.name p {
  text-align: right;
}

div.meanTime h2 {
  font-size: 26px;
  text-align: center;       
  margin: 0px;
  padding: 0px;
}

.domain {
  stroke: $gray;
}

.tick line {
  display: none;
}

.tick text {
  font-family: Lato;
  font-size: 12px;
}



@media (max-width: $MaxPhoneSize * 0.4){
  #map_container {
    // width: 600px;
    height: 300px;  
  }
  #isPhone40 {
    display: block;
  }

  #isTablet40, #isDesktop40 {
    display: none;
  }
}

@media (max-width: $MaxTabletSize * 0.4){
  #map_container {
    height: 374px;  
  }

  #isTablet {
    display: block;
  }

  #isPhone, #isDesktop {
    display: none;
  }

}

@media (max-width: $MaxDesktopSize * 0.4){
  #map_container {
    height: 474px;  
  }
  
}