@import "variables";
@import "typography";

html, body {
  padding: 0px;
  margin: 0px;
}

.domain {
  stroke: $gray;
}

.tick line {
  display: none;
}

.tick text {
  font-family: Lato;
  font-size: 12px;
}

.afterText {   
  font-family: Lato;
  font-size: 12px;
}

.povLabel {
  font-family: Lato;
  font-size: 11px;
  // text-anchor: end;
}

.label {
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  text-anchor: end;
}

.Biglabel {
  font-family: Lato;
  font-size: 15px;  
  fill: $cerulean;
  text-anchor: end; 
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

