@import "variables";
@import "typography";

html, body {
  padding: 0px;
  margin: 0px;
}

#map { 
  position:relative;   
  width: 100%;
  height: 200px;
}

.domain {
  stroke: $gray;
}

.tick line {
  display: none;
}

.tick text {
  font-family: Lato;
}

.nametext {
	font-family: Lato;
	font-size: 10px;
}

div.meanTime, div.name { 
  position: fixed;       
  font-family: Lato;
}

div.meanTime p, div.name p {
	font-size: 12px;
	text-align: center;       
	margin: 0px;
	padding: 0px;
	font-weight: 700;
}

div.name {
	width: 70px;
}

div.meanTime{
	width: 100px;
}

div.name p {
	text-align: right;
}

div.meanTime h2 {
	font-size: 26px;
	text-align: center;       
	margin: 0px;
	padding: 0px;
}