@import "variables";
@import "typography";

html, body {
  padding: 0px;
  margin: 0px;
}

#map { 
  position:relative;   
  width: 100%;
  background-color:pink
}

.domain {
  stroke: $gray;
}

.tick line {
  display: none;
}

.tick text {
  font-family: Lato;
}

