/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
@import "variables";
@import "typography";

.headerimage {
    background: #f1f2f2;
    // border-bottom: 185px solid #f1f2f2;

	img {
		width: 100%;
		margin:0 auto;
	}
}

#main-content-text {
	padding-top: 72px;
}

.pubDate {
	top:0;
}

.india {
	background-color: $cerulean;
	padding: 5px;
	border-radius: 4px;
}

.sky {
	background-color: $orangey-yellow;
	padding: 5px;
	border-radius: 4px;	
}

.big-button {
	background-color: $cerulean;
    width: 280px;
    margin: 0 auto;
    height: 83px;
	border-radius: 2px;
	text-align: center;
	cursor: pointer;
	padding-top: 30px;	
	margin-top: 60px;
	margin-bottom: 60px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.big-button:hover {
	background-color: $soft-blue;
}

.content {
    padding-left: 125px;
    padding-right: 125px;
    clear: both;

    .inset-image {
		float: right;
    	margin-right: -125px;
    	padding-left: 10px;
    	padding-top: 10px;
    	padding-bottom: 10px;
    	max-width: 500px;
    	margin-left: 15px;

    	img {
    		width: 100%;
	    }

	    p {	
			font-size: 12px;
			line-height: 1.27;	
	    }

	   	&.img-button {
	   		height: 215px;
	   		background-image: url("../../img/appendix-promo-bground_blue.png");	   		
	   		background-position: left top;
	   		background-size: cover;
	   		padding-top:40px;
	   		padding-bottom:40px;
	   		padding-left: 0px;
	   		margin-bottom: 15px;



	   		div {
	   			background-color: #fff;
	   			color: $cerulean;
	   			padding: 15px;
	   			text-transform: uppercase;
	   			font-size: 14px;
	   			margin: 0 auto;
			    width: 180px;
			    text-align: center;
			    margin-top: 15px;			    
	   		}

	   		div:hover {
	   			background-color: #e6e5e5;
	   		}

	   		p {	   			
	   			text-align: center;
	   			color: #fff;
	   			font-size: 18px;
	   			font-weight: 700;
	   			display: block;
			    max-width: 80%;
			    margin: 0 auto;
	   		}
	   	}
    }

    .follow-dot {
    	position: absolute;
	    top: unset;	    
    	left: calc(50% - 550px + 125px - 40px);    	
    	width: 30px;
    	height: 30px;
    	border-radius:30px;    	
    	z-index: -1;
    	opacity:0;
    	transition: width 1s ease-out, height 1s ease-out, margin-left 1s ease-out;

    	span {
    		display: block;
		    margin: 0 auto;
		    text-align: center;
		    color: #fff;
    	}
    }

    .follow-dot.sticky {
    	top: 230px;
    	position: fixed;  
    	margin-top: 0px !important;  	
    }

    .active {
		opacity: 1;
	}


    .follow-dot.india {
    	margin-top: 115px;
    	background-color: $cerulean;
    }

    .source-and-notes {
    	margin-top: -35px;
    	margin-bottom: 44px;
    }

}

.chart-feature {		
	// display: table;
	margin: 0 auto;
	padding-bottom: 16px;
	// margin-left: -70px;
	// width: 1170px;	
	// width: 100%;

	.full-feature-dist {		
	    width: calc(100% + 140px);
	    margin-left: -140px;		
	}
}
.chart-feature.transmethod{
	padding-bottom: 32px;
}
.chart-feature.race{
	padding-bottom: 0px;
}


.full-feature {
	width: 100%;
	max-width: 1440px;
	display: table;
	margin: 0 auto;
	padding-bottom: 36px;

	.full-feature-map {
		width: 60%;		
		display: table-cell;	
		// height:500px;
		

		img {			
			width: 100%;
		}	
	}

	.full-feature-right-chart, .full-feature-text {
		// float: left;
		// width: 30%;
		padding-left: 20px;
		display: table-cell;
		vertical-align: middle;
	}

	.full-feature-text {
		padding-right: 20px;
	}

	.full-feature-text.pullBlue {
		background-color: $light-teal;
	}

	.full-feature-text.pullYellow {
		background-color: #fce39e;
	}

	.full-feature-right-chart {
		padding-left: 0px;
	}

}

.headerimage p {	
	font-size: 12px;
	line-height: 1.27;	
}	

h3.job {
	color: #000;
}

#footerbuttons {
	.footer-button {
		width: 100%;
		line-height: 20px;
		float: left;		

		.inner-button {
			text-align: center;
			padding-top: 14px;
			padding-bottom: 14px;
			margin-right: 10px;
			margin-left: 10px;
			border: 1px solid #333333;			
			cursor: pointer;
			font-weight: 700;
			color: #000 !important;

			&:hover {
				color: #fff !important;
				background-color: $cerulean;
			}
		}		
	}

	.footer-button:first-child .inner-button {
		margin-left: 0px;
	}

	.footer-button:last-child .inner-button {
		margin-right: 0px;
	}
}


@media (max-width: $MaxDesktopSize){	
	.content .follow-dot {
    	left: 80px;    	
   	}

 	.chart-feature {
 		
 		padding-left: 5px !important;
    	padding-right: 10px !important;

 		.full-feature-dist {
 			width: 100%;
 			margin: 0 auto;
 		}
 	}


}

// Tablet size styles
@media (max-width: $MaxTabletSize){	
	#main-content-text {
		padding-top: 32px;
	}

	.content {
		padding-left: 48px;
		padding-right: 48px;

    	.inset-image {
    		margin-right: 0px;
    		max-width: 300px;
    		padding-left: 0px;
    		padding-top: 10px;
    	}
    	.follow-dot {
	    	left:16px;
	    	
	   	}
	   	.follow-dot.india {
	   		margin-top: 94px;
	   	}
    }

}

@media (max-width: $MaxPhoneSize){	

	.content {
		padding-left: 27px;
		padding-right: 20px;

    	.inset-image {
    		width: 100%;
			max-width: none;
    	}
    	.follow-dot {
	    	left: 13px;
	    	width:10px;
	    	height: 10px;
	    	border-radius: 10px;
	    	
	    	span {
	    		display: none;
	    	}
	   	}
	   	.follow-dot.india {
	   		margin-top: 105px;
	   	}

	   	.source-and-notes {
	   		margin-top: -13px;
	   		margin-bottom: 34px;
	   	}
    }

	.full-feature, .chart-feature {		
		padding-bottom: 14px;
	}
	.chart-feature.transmethod{
		padding-bottom: 32px;
	}
	.chart-feature.race{
		padding-bottom: 0px;
	}

    .full-feature {
		display: block;

		.full-feature-map {
			width: 100%;
			display: block;			
		}
		

		.full-feature-right-chart, .full-feature-text {
			width: 100%;
			display: block;						
			vertical-align: none;
			padding-left: 20px;
			padding-right: 20px;
		}

		.full-feature-text {
			padding-bottom: 5px;
			padding-top:5px;
		}

		.full-feature-right-chart {
			padding-left: 0px;
			padding-right: 0px;
		}	
	}

	footer {
		padding-top:0px;
	}

}