/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
@import "variables";
@import "typography";

/*
body {
  font: 100% $font-stack;
  color: $primary-color;
}
*/


.headerimage {
	img {
		width: 100%;
		margin:0 auto;
	}
}

#main-content-text {
	padding-top: 72px;
}

.india {
	background-color: $cerulean;
	padding: 5px;
	border-radius: 4px;
}

.sky {
	background-color: $orangey-yellow;
	padding: 5px;
	border-radius: 4px;	
}

.big-button {
	background-color: $cerulean;
    width: 280px;
    margin: 0 auto;
    height: 83px;
	border-radius: 2px;
	text-align: center;
	cursor: pointer;
	padding-top: 30px;	
	margin-top: 60px;
	margin-bottom: 60px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.big-button:hover {
	background-color: $soft-blue;
}

.content {
    padding-left: 125px;
    padding-right: 125px;
    clear: both;

    .inset-image {
		float: right;
    	margin-right: -125px;
    	padding-left: 10px;
    	padding-top: 25px;
    	padding-bottom: 10px;
    	max-width: 500px;

    	img {
    		width: 100%;
	    }

	    p {	
			font-size: 11px;
			line-height: 1.27;	
	    }	
    }

    .follow-dot {
    	position: absolute;
	    top: unset;	    
    	left: calc(50% - 550px + 125px - 40px);    	
    	width: 30px;
    	height: 30px;
    	border-radius:30px;    	
    	z-index: -1;
    	opacity:0;
    	transition: width 1s ease-out, height 1s ease-out;

    	span {
    		display: block;
		    margin: 0 auto;
		    text-align: center;
		    color: #fff;
    	}
    }

    .follow-dot.sticky {
    	top: 230px;
    	position: fixed;  
    	margin-top: 0px !important;  	
    }

    .active {
		opacity: 1;
	}


    .follow-dot.india {
    	margin-top: 103px;
    	background-color: $cerulean;
    }

    .source-and-notes {
    	margin-top: -35px;
    	margin-bottom: 35px;
    }

}

.chart-feature {
	width: 100%;
	display: table;
	margin: 0 auto;
	padding-bottom: 16px;

	.full-feature-dist {
		width: 100%;
		display: table-cell;
		vertical-align: middle;
	}
}

.full-feature {
	width: 100%;
	max-width: 1440px;
	display: table;
	margin: 0 auto;
	padding-bottom: 36px;

	.full-feature-map {
		width: 60%;		
		display: table-cell;	
		// height:500px;
		

		img {			
			width: 100%;
		}	
	}

	.full-feature-right-chart, .full-feature-text {
		// float: left;
		// width: 30%;
		padding-left: 20px;
		display: table-cell;
		vertical-align: middle;
	}

	.full-feature-text {
		padding-right: 20px;
	}

	.full-feature-right-chart {
		padding-left: 0px;
	}

}

.headerimage p {	
	font-size: 11px;
	line-height: 1.27;	
}	

@media (max-width: $MaxDesktopSize){	
	.content .follow-dot {
    	left: 80px;    	
   	}
}

// Tablet size styles
@media (max-width: $MaxTabletSize){	
	#main-content-text {
		padding-top: 32px;
	}

	.content {
		padding-left: 48px;
		padding-right: 48px;

    	.inset-image {
    		margin-right: 0px;
    		max-width: 300px;
    		padding-left: 0px;
    		padding-top: 10px;
    	}
    	.follow-dot {
	    	left: 5px;
	    	
	   	}
	   	.follow-dot.india {
	   		margin-top: 81px;
	   	}
    }

}

@media (max-width: $MaxPhoneSize){	

	.content {
		padding-left: 20px;
		padding-right: 20px;

    	.inset-image {
    		width: 100%;
			max-width: none;
    	}
    	.follow-dot {
	    	left: 5px;
	    	width:10px;
	    	height: 10px;
	    	border-radius: 10px;
	    	
	   	}
	   	.follow-dot.india {
	   		margin-top: 90px;
	   	}

	   	.source-and-notes {
	   		margin-top: -13px;
	   		margin-bottom: 14px;
	   	}
    }

	.full-feature, .chart-feature {		
		padding-bottom: 14px;
	}

    .full-feature {
		display: block;

		.full-feature-map {
			width: 100%;
			display: block;			
		}
		

		.full-feature-right-chart, .full-feature-text {
			width: 100%;
			display: block;						
			vertical-align: none;
			padding-left: 20px;
			padding-right: 20px;
		}

		.full-feature-right-chart {
			padding-left: 0px;
			padding-right: 0px;
		}	
	}

}