@import "variables";
@import "typography";

html, body {
  // width: 100%;
  // height: 100%;  
  padding: 0px;
  margin: 0px;
  // padding-top:50%;
}
#map { 
  position:relative; 
  // width: 800px;
  width: 100%;
  height: 632px;
  // background-color: pink;
}

#chart {
  position:relative; 
  width: 100%;
  height: 632px;
  // padding-top: 50%;
  background-color: pink;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.hidden {
  display: none;
}
.ward {
  fill: none;  
  stroke-width: 2px;
}

.ward.w7 {
  stroke: $cerulean;
}

.ward.wardmap {
  stroke: #fff !important;
  fill-opacity: 0.75;
  cursor: pointer;
}

.ward.wardmap.active {
  fill-opacity: 0.9;
}

.ward.distro.w1, .ward.wardmap.w1 {fill: $orangey-yellow}
.ward.distro.w2, .ward.wardmap.w2 {fill: $nice-blue}
.ward.distro.w3, .ward.wardmap.w3 {fill: $soft-green}
.ward.distro.w4, .ward.wardmap.w4 {fill: $purple-grey}
.ward.distro.w5, .ward.wardmap.w5 {fill: $dark-orange}
.ward.distro.w6, .ward.wardmap.w6 {fill: #e25552}
.ward.distro.w7, .ward.wardmap.w7 {fill: $cerulean}
.ward.distro.w8, .ward.wardmap.w8 {fill: #e88e2d}


div.tooltip h2 {
  font-size: 12px !important;
  margin:0px;
  padding: 0px;
  font-weight: 700;
  border-bottom: 1px solid $gray;
}

div.tooltip p {
  font-size: 11px !important;
  margin:0px;
  padding: 0px;
}

// div.tooltip.bottom:after {
//   bottom: 100%;
//   left: 50%;
//   border: solid transparent;
//   content: " ";
//   height: 0;
//   width: 0;
//   position: absolute;
//   pointer-events: none;
//   border-color: pink;
//   border-bottom-color: pink;
//   border-width: 11px;
//   margin-left: -11px;
// }

div.tooltip { 
  position: fixed;     
  width: 200px;               
  padding: 11px;       
  background: #fff;
  top:-1000px;
  left:-1000px;
  border: 1px solid $cerulean;            
}


div.tooltip.top:after, div.tooltip.top:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 6px;
  margin-left: -6px;
}

div.tooltip.top:before {
  border-color: rgba(0, 150, 210,0);
  border-top-color: $cerulean;
  border-width: 8px;
  margin-left: -8px;
}

// .arrow_box:after {
//   border-color: rgba(255, 255, 255, 0);
//   border-top-color: #fff;
//   border-width: 30px;
//   margin-left: -30px;
// }
// .arrow_box:before {
//   border-color: rgba(189, 245, 37, 0);
//   border-top-color: #bdf525;
//   border-width: 36px;
//   margin-left: -36px;
// }


.indiapoint {
  fill: $cerulean;
}

.dot {
  fill: $soft-blue
}

@media (max-width: $MaxPhoneSize * 0.6){
  #map {
    // width: 600px;
    height: 300px;  
  }
}

@media (max-width: $MaxTabletSize * 0.6){
  #map {
    // width: 600px;
    height: 374px;  
  }
}

@media (max-width: $MaxDesktopSize * 0.6){
  #map {
    // width: 600px;
    height: 474px;  
  }
  
}